<main>
<div class="wrapper">
    <h1>About</h1>
    <h2>The Project</h2>
    <p><em>I Cried Here</em> aims to normalise emotions by making them visible in the spaces we exist in.</p>

    <p>Crying happens every day, everywhere. Yet, crying is often hidden—because it is a private affair, because we need to feel safe, because of shame... But when crying is done out of sight, it can be easy to believe we are the only ones crying. Easy to blame ourselves for feeling too much.</p>

    <p>I created <em>I Cried Here</em> to leave traces of these emotions, traces of our shared humanity. Hoping that the next time you cry, these traces can remind you that you are not alone, that you belong to the great siblinghood of humans who feel.</p>
    <p>This project was started as a part of my <a href="https://www.gold.ac.uk/pg/ma-designing-education/">MA Designing Education</a> at Goldsmiths University.</p>
    
    <h2>Why?</h2>
    <p>During my first term of the MA, I cried several times at the design department. I felt overwhelmed, a bit lost, lonely...</p>
    <p>But my years of helping adults learn to code told me that:</p>
    <ol>
        <li>It's okay to cry.</li>
        <li>Frustration, anxiety, overwhelm, feeling inadequate... are all signs that one has left the comfort zone and entered a phase of growth and learning</li>
        <li>Even though I hadn't seen it myself, I couldn't be the only person crying at the department.</li>
    </ol>
    <p>I know many people cry regularly - when we are stressed, overwhelmed, sad, happy, awed...</p>
    <p>A few years ago I ran a poll on LinkedIn asking people <a href="https://www.linkedin.com/posts/alice-lieutier-9476784_i-have-cried-at-work-countless-times-cried-activity-7057028721349648385-lE74">when they had last cried at work</a>. About half of responders had cried in the previous 4 months, and 70% had cried at work in the past.</p>
    <p>Knowing this doesn&apos;t stop the tears, but it helps put them in perspective.</p>
    <br>
    <p>So I created <em>I Cried Here</em> to share what I know:</p>
    <p>Crying is normal.</p>

    <h2>What&apos;s Next?</h2>
    <p>I'm currently working on a zine about crying called "On the verge of tears".</p>
    <p>We'll also have a show at Goldsmiths for our class's projects soon.</p>
    <p>Follow <a href="https://www.instagram.com/i.cried.here">@i.cried.here</a> on instagram for updates.</p>
    
    <h2>Get Involved</h2>
    <p>If you&apos;ve cried somewhere and want to leave a mark, join the movement by <a href="/stories">sharing your story</a> or <a href="/stickers">requesting stickers</a>.</p>
    <p>If you&apos;d like to contribute to the zine, <a href="mailto:hello@icriedhere.com">email me</a> or message me on <a href="https://www.instagram.com/i.cried.here">instagram</a>.</p>
    <p>If you&apos;d like to support the project, <a href="https://www.buymeacoffee.com/alicelieutier">your contribution</a> will help cover printing and postage for stickers—thank you!</p>

    <h2>About Me</h2>
    <p>I'm Alice, a designer with a background in software engineering and education. My work explores how we relate to each other as humans, and how we understand each other.</p>

    <p>If you want to collaborate, ask a question, or just say hi, feel free to <a href="mailto:hello@icriedhere.com">email me</a>.</p>

    <figure>
        <img src="/images/wherehaveYOUcried.png" width="600" alt="A poster that says Where have YOU cried?, and shows hand-drawn spaces from my university building, where people have placed little stickers on all the places they have cried." />
        <figcaption>A map of places people have cried in the Goldsmiths Design Department. This poster was left up from 10 Feb 2025 to 24 Feb 2025, and many people contributed to create traces.</figcaption>
    </figure>
</div>
</main>
