<main>
    <h1>About</h1>
    <h2>The Project</h2>
    <p><strong>I Cried Here</strong> aims to normalise emotions by making them visible in the spaces we exist in.</p>

    <p>Crying happens every day, everywhere. Yet, crying is often hidden—because it is a private affair, because we need to feel safe, because of shame... But when crying is done out of sight, it can be easy to believe we are the only ones crying. Easy to blame ourselves for feeling too much.</p>

    <p>I created <strong>I Cried Here</strong> to create traces for these emotions, traces of our shared humanity. Hoping that the next time you cry, these traces can remind you that you are not alone, that you belong to the great siblinghood of humans who feel.</p>
    

    <h2>About Me</h2>
    <p>I'm Alice, a designer with a background in software engineering and education. My work explores how we relate to each other as humans, and how we understand each other.</p>

    <p>If you want to collaborate, share your story, or just say hi, feel free to <a href="mailto:hello@icriedhere.com">email me</a>.</p>

    <figure>
        <img src="/images/wherehaveYOUcried.png" width="600" alt="A poster that says Where have YOU cried?, and shows hand-drawn spaces from my university building, where people have placed little stickers on all the places they have cried." />
        <figcaption>A map of places people have cried in the Goldsmiths Design Department - up from 10 Feb 2025 to 24 Feb 2025</figcaption>
    </figure>
</main>
