<main>
    <h1><img src="images/icriedhere.svg" alt="I cried here" width="400px"></h1>
    <p>Normalising emotions everywhere.</p>
    <p><em>I Cried Here</em> aims to normalise emotions by creating tangible traces.</p>
    <p>Join the movement by <a href="/stories">sharing your story</a> or <a href="/stickers">requesting stickers</a> .</p>
</main> 
