<main>
    <h1>Stickers</h1>
        <img id="stickers-photo" src="images/stickers.png" alt="a pile of teardrop shaped blue stickers that read 'I cried here'.">
        <p>If you want to join the movement, I'll send you some stickers by post.</p>
        <p>Just send me an email at <a href="mailto:hello@icriedhere.com">hello@icriedhere.com</a> with your postal address, and in return, I would love it if you shared a story or a photo once you've placed a sticker.</p>
        <p>Stickers are free, but if you’d like to support the project, you can <a href="https://www.buymeacoffee.com/alicelieutier">buy me a flat white</a>.</p>
        <hr/>
        <p>Have you spotted a sticker in the wild? I'd love to <a href="mailto:hello@icriedhere.com">hear</a> about it. </p>
</main>
<div id="gallery">
    <img src="images/dinner_table.jpg" alt="A teardrop shaped blue sticker that reads 'I cried here' stuck underneath a dinner table." />
    <img src="images/meditation.jpeg" title="Photo courtesy of Camélia Khalid" alt="A 'I cried here' sticker stuck on a coffee table with a toy stuffed giraffe, next to a bean bag that has a toy stuffed rabbit on top." />
    <img src="images/IMG_20250226_151722.jpg" alt="Two 'I cried here' stickers stuck on the side of a table in the entrance of Goldsmiths Design Department." /> 
</div>