<main>
    <h1>Stories</h1>
    <section id="stories-list">
        <div>Loading stories...</div>
        <div class="loader"></div>
    </section>
    <form id="story-form">
        <label for="story" class="required">When was the last time YOU cried? Where were you? How did you feel?</label>
        <textarea id="story" name="story" placeholder="Share your story.." required></textarea>
        <div class="form-details">
            <div>
                <label for="name">What's your name?</label>
                <input type="text" id="name" name="name" placeholder="Name (optional)">
            </div>
            <div>
                <label for="age">How old are you?</label>
                <input type="number" id="age" name="age" placeholder="Age (optional)">
            </div>            
        </div>
        <label for="email">Leave your email if you're happy to be contacted about your story. <div class="small-prints">Only I (Alice 🙂) will have access to your email. It will not be made public or shared with anyone else. You will not receive emails except to personally follow up on what you shared.</div></label>
        <input type="email" id="email" name="email" placeholder="hello@example.com">
        <div>
            <input type="submit" value="Share">
        </div>
    </form>
</main>